<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

     <bean id="people"  class="com.spring.test.pojo.GetBeanTest">
       <lookup-method name="getBean" bean="teacher"/>
     </bean> 

     <bean id="teacher"  class="com.spring.test.pojo.Teacher">
     </bean> 
     
      <bean id="student"  class="com.spring.test.pojo.Student">
     </bean> 

  <bean class="com.spring.test.interf.MessageServiceDBImpl" autowire-candidate="false" />
 
  <bean class="com.spring.test.interf.MessageServiceFileImpl"  />
  
  <bean class="com.spring.test.interf.MessagePrinter"/>
	
</beans>